@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the entire scrollbar */
  height: 10px;
  /* Height of the entire scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the scrollbar track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar handle */
  border-radius: 10px;
  /* Roundness of the scrollbar handle */
  border: 3px solid #f1f1f1;
  /* Padding around scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar handle on hover */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}



a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  align-items: center;
  padding: 20px 20px;
}